.git
.github
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
.tox/
.nox/
.hypothesis/
.idea/
.vscode/
*.sublime-workspace
.DS_Store
